#table_layer {
    width: 100%;
    overflow-y: auto;
    height: 370px;
    margin: 10px auto;
    margin-top: 10px;
}
table {
    width: 100%;
    color: white;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    height: 50px;
    border: 1px solid black;
}
th:first-child, td:first-child {
    width: 45%;
}
th:last-child, td:last-child {
    width: 45%;
}
td:first-child {
    text-align: left;
}
th:not(:first-child):not(:last-child), td:not(:first-child):not(:last-child) {
    width: 10%;
}
td {
    color: #7c1bfb;
}

button {
    width: 100px;
    height: 35px;
    background: linear-gradient(#f9e6d1, #485d6a, #485d6a);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a~a {
    margin-right: 30px;
    text-align: right;
    position: absolute;
    right: 0px;
}

tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #d3d3d3}
